# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

* List of popular languages for Data Scientists
* Commonly used libraries for Data Scientists
* Popular Data Science Tools

Some of the popular languages that Data Scientists use are:

    1. python
    2. R
    3. julia

Some of the commonly used libraries used by Data Scientists include:

    1. pandas (python)
    2. numpy (python)
    3. matplotlib (python)
    4. ggplot (R)

|  Data Science Tools | 
|:--------:|
|  Jupyter Notebook   |
|  R Studio  |
|  Google Colab   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
mins_in_hours = 60

conversion = minutes/mins_in_hours
conversion

3.3333333333333335

## Author

Tharan Suresh